################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/tata_momerial.web.UI/.vs/tata_momerial.web.UI
