################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/tata_momerial.web.UI/.vs/tata_momerial.web.UI
/Code/tata_momerial.web.UI/tata_momerial.web.API/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.Common/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.DTO/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.UI/bin/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/project.assets.json
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/project.nuget.cache
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/tata_momerial.web.API.csproj.nuget.dgspec.json
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/tata_momerial.web.API.csproj.nuget.g.props
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/tata_momerial.web.API.csproj.nuget.g.targets
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/project.assets.json
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/project.nuget.cache
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/tata_momerial.web.BAL.csproj.nuget.dgspec.json
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/tata_momerial.web.BAL.csproj.nuget.g.props
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/tata_momerial.web.BAL.csproj.nuget.g.targets
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/project.assets.json
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/project.nuget.cache
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/tata_momerial.web.DAL.csproj.nuget.dgspec.json
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/tata_momerial.web.DAL.csproj.nuget.g.props
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/tata_momerial.web.DAL.csproj.nuget.g.targets
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/project.assets.json
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/project.nuget.cache
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/tata_momerial.web.UI.csproj.nuget.dgspec.json
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/tata_momerial.web.UI.csproj.nuget.g.props
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/tata_momerial.web.UI.csproj.nuget.g.targets
/Code/tata_momerial.web.UI/tata_momerial.web.API/obj/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.BAL/obj/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.Common/obj
/Code/tata_momerial.web.UI/tata_momerial.web.DAL/obj/Debug/net10.0
/Code/tata_momerial.web.UI/tata_momerial.web.DTO/obj
/Code/tata_momerial.web.UI/tata_momerial.web.UI/obj/Debug/net10.0
/Code/tata_momerial.web.ui/tata_momerial.web.ui/tata_momerial.web.ui.csproj.user
